@mixin mix-border-radius($val) {
    border-radius: $val;
    -webkit-border-radius: $val;
    -moz-border-radius: $val;    
}

@mixin mix-caret($dir, $bg) {
    @if $dir == 't' {
        border-top: pxToRem(6) solid $bg;
        border-right:  pxToRem(4) solid transparent;
        border-bottom:  pxToRem(4) solid transparent;
        border-left:  pxToRem(4) solid transparent;
    }
    @if $dir == 'r' {
        border-top: pxToRem(4) solid transparent;
        border-right: pxToRem(6) solid $bg;
        border-bottom: pxToRem(4) solid transparent;
        border-left: pxToRem(4) solid transparent;
    }
    @if $dir == 'b' {
        border-top: pxToRem(4) solid transparent;
        border-right:  pxToRem(4) solid transparent;
        border-bottom:  pxToRem(6) solid $bg;
        border-left:  pxToRem(4) solid transparent;
    }
    @if $dir == 'l' {
        border-top: pxToRem(4) solid transparent;
        border-right: pxToRem(4) solid transparent;
        border-bottom: pxToRem(4) solid transparent;
        border-left: pxToRem(6) solid $bg;
    }
}