<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Furniture</title>
    <base href='/'>
    <link href="../css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i" rel="stylesheet" />
    <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0"
        crossorigin="anonymous"></script>
</head>

<body>

    <div class="home-topnav">
        <span> <a href="javascript:void(0);" class="icon">
                <i class="fa fa-bars"></i>
                <span class="home-topnav_search"><i class="fa fa-search" style="padding: 3px" aria-hidden="true"></i><input
                        type="text" placeholder="Search.."></span>

            </a>
            <ul class="home-header home-menu">
                <li><a class="active" href="/">Home</a></li>
                <li><a href="#shop">Shop</a></li>
                <li><a href="#magzine">Magzine</a></li>
            </ul>
        </span>
    </div>

    <section class="container">
        <div class="row p-t-20">
            <div class="col-md-5">
                <div  class="home-details-image" id = "details"></div>
                <!-- <img id= "details" class="home-details-image"  alt="Card image cap"> -->
            </div>
            <div class="col-md-2">
                <div class="home-details-arrowBox">
                    <span class="home-details-arrow"><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                </div>
            </div>
            <div class="col-md-5">
                <div class="m-t-8" style="width: 70%">
                    <label>Kappu regular chair</label>
                    <label>
                        <h3>Scandanavian Collection</h3>
                    </label>
                    <p>Vass Shoes makes handcrafted mens's shoes in the heart of Budapest. I made a concept product
                        page for practice
                        which in my opinion represents their qualities better that their current site </p>
                </div>

                <p>Color</p>

            </div>
        </div>
    </section>

    <script>
        var a = window.location.search;
        var image = a.replace(/\?/g, '');

        var img = document.createElement('img'); 
        img.src =  '../images/'+image+'.jpeg'; 
       // document.getElementById("img").className = "home-details-image";
        document.getElementById('details').appendChild(img);
       img.className = "home-details-image";
        // down.innerHTML = "Image Element Added."; 
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>$('[data-toggle="tooltip"]').tooltip()</script>
</body>

</html>